body {
	background           : rgb(31, 80, 77) url('https://cdn.jsdelivr.net/gh/lietxia/mahjong_pub_src/mfzh/img/aurora.jpg');
	background-size      : cover;
	background-repeat    : no-repeat;
	background-attachment: fixed;
	background-position  : center;
	margin-top           : 56px;
	margin-bottom        : 56px;
}

body,
input,
textarea,
option,
select {
	font-family: -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Meiryo",
		"Malgun Gothic", "tahoma", "Dotum", "MS PGothic", "PMingLiu", system,
		system-ui, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		sans-serif;
}

pre {
	background-color: rgba(255, 255, 255, 0.6);
	color           : #000;
	border-radius   : 4px;
	padding         : 5px;
}


/*navbar 导航*/
#my_nav {
	color      : #FFF;
	text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

#navbarSupportedContent ul li.nav-item a {
	color: #FFF;
}

#navbarSupportedContent ul li.nav-item.active a {
	border: 1px solid rgba(255, 255, 255, 0.6);
}

.nav_bg {
	background: rgba(0, 0, 0, 0.8);
}

/*rule-text 规则文本*/
.rule_div {
	color : #FFF;
	border: 3px solid #4a90e2;
}

.rule_div h4 {
	background-color: #4a90e2;
	padding         : 10px 0 10px 40px;
	margin-bottom   : 0;
}

.rule_div div {
	padding         : 5px;
	color           : #FFF;
	background-color: rgba(0, 0, 0, 0.6);
}

.live_img {
	height: 75px;
	width : 75px;
	margin: 5px 20px;
}

#live_list {
	text-align: center;
}


/*subnavbar 次级导航*/
#myTab div ul li a {
	color : #3a3a3a;
	border: 0;
}

#myTab div ul li a.active {
	border-radius   : 0;
	background-color: #4a90e2;
	border          : 0;
	color           : #FFF;
}

.nav-tabs {
	border: 0
}

#myTab {
	border-bottom: 4px solid #4a90e2;
}

#myTab div ul li {
	margin-bottom: -2px;
}

#myTab div ul li a:hover {
	font-weight: bold;
	border     : 0;
}

.nav-link .nav_info {
	display: none;
}

.tab_btn {
	border          : 0;
	margin          : 10px;
	background-color: transparent;
	color           : #FFF;
}

.tab_btn.active {
	border          : 0;
	background-color: #FFF;
	color           : #4a90e2;
}

/*col*/
.card_col {
	text-align: center;
}

.col_img {
	width : 64px;
	height: 64px;
}

/*mvp page*/
.content_table {
	background-color: #f9f9f9;
}

.content_table table {
	border    : 0;
	width     : 100%;
	text-align: center;
}

.content_table table tr {
	border-bottom: 1px solid #757575;
}

.content_table table th {
	background-color: #323232;
	color           : #FFF;
	padding         : 5px 10px;
}


.content_table table td {
	padding: 5px 10px;
}

.content_table ol {
	margin-bottom: 0;
}

/*schedule page*/
.display_none {
	display: none;
}

.vs_div {
	background-color: #ffffff;
	margin-top      : 3px;
	color           : #000;
}

.vs_div img {
	width : 50px;
	height: 50px;
}

@media (max-width: 768px) {
	#my_nav {
		background: rgba(0, 0, 0, 0.8);
		text-align: center;
	}

	.vs_div img {
		display: block;
	}

	body {
		margin-top: 56px !important;
	}

}

@media (min-width: 993px) {
	.nav-link .nav_info {
		display: inline-block;
	}


}